body {
  background: #daf7f6;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #3b3b3b;
}

header {
  background-color: white;
  text-align: center;
}

header h1 {
  display: inline-block;
  margin: 0;
  padding: 40px 0;
  font-family: "Montserrat", sans-serif;
  color: #f16059;
  font-size: 48px;
  text-transform: uppercase;
}
header img {
  margin-right: 16px;
}

main {
  width: 1000px;
  margin: 0 auto;
}

.card {
  margin: 25px 0;
  overflow: auto;
}

.image {
  float: left;
  width: 500px;
  height: 550px;
}

.recipe {
  float: left;
  padding: 20px;
  width: 500px;
  height: 550px;
  background: white;
  box-sizing: border-box;
}

#cookies .image {
  background-image: url("../img/gluten-free-sugar-cookies.jpg");
  background-size: cover;
}

#pesto .image {
  background-image: url("../img/nut-free-pesto.jpg");
  background-size: cover;
}

#salad .image {
  background-image: url("../img/watermelon-salad.jpg");
  background-size: cover;
}
